# dynamic requirements
langchain
openai
transformers>=4.36.0
torch>=2.1.0
torchvision
pillow
numpy>=1.24.0
pandas
python-multipart
pydantic
datasets>=2.15.0
nltk>=3.8.1
tqdm>=4.66.1
scikit-learn>=1.3.0
accelerate
peft
transformers-cfg